{% extends "app_viaje/base.html" %}
{% load static %}

{% block content %}
{%if messages %}
    {% for message in messages %}
        <div class="d-flex justify-content-center alert alert-success w-50 m-auto md-3" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">Los 3 tips más importantes que debes tener en cuenta</h2>
                        <p class="text-white-50">
                            Siempre es importante tener en cuenta ciertos aspectos antes de emprender un viaje. En este caso, te invito a que conozcas un poco 
                            <a href="{% url 'sobre-mi' %}">sobre mí</a>
                            antes de empezar con tu viaje y llenarte de experiencias.
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'app_viaje/assets/img/001.png' %}" alt="..." />
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'app_viaje/assets/img/air.jpg' %}" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Controla bien tus tiempos</h4>
                            <p class="text-black-50 mb-0"></p>
                        Es fundamental llegar al aeropuerto con suficiente anticipación, idealmente 3 horas antes para vuelos internacionales y 2 horas para vuelos nacionales. Revisa los horarios y organiza tu transporte hacia el aeropuerto. Tener todo bajo control te ayudará a evitar contratiempos y comenzar tu viaje sin estrés.
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'app_viaje/assets/img/hom.jpg' %}" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Documentación</h4>
                                    <p class="mb-0 text-white-50">Asegúrate de tener todos tus documentos de viaje en regla y verificalos con suficiente anticipación. Esto incluye pasaporte vigente, visa si es necesaria, tarjetas de embarque, reservas de hotel, seguro de viaje y cualquier documento adicional requerido por el país de destino. Es recomendable hacer copias digitales y físicas de todos los documentos importantes y mantenerlos en lugares separados por seguridad.</p>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'app_viaje/assets/img/plan.jpg' %}" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Organización</h4>
                                    <p class="mb-0 text-white-50">Antes de emprender tu viaje, es crucial hacer una planificación detallada. Crea una lista de todo lo que necesitas empacar, organiza tu itinerario con anticipación y establece un presupuesto claro. Reserva tu alojamiento y actividades principales con tiempo para evitar problemas de disponibilidad. Empaca tu maleta unos días antes, verifica el pronóstico del clima y asegúrate de tener todos los artículos esenciales. Una buena organización te permitirá disfrutar más de tu viaje y reducir el estrés de última hora.</p>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Subscribete para recibir informacion!</h2>
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Email address input-->
                            <div class="row input-group-newsletter">
                                <div class="col"><input class="form-control" id="emailAddress" type="email" placeholder="Ingrese su correo electronico..." aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                                <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Notificáme!</button></div>
                            </div>
                            <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
                            <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3 mt-2 text-white">
                                    <div class="fw-bolder">¡Envío del formulario exitoso!</div>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Direccion</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">Quilmes, Buenos Aires: Argentina</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="https://mail.google.com/">guiadeviajes@info.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Telefono</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">+54 (011) 2902-8832</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://x.com/"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="https://github.com/"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
        {% endblock %}
