{% extends "app_viaje/base.html" %}

{% block title %}
Guia de Viaje | Cambiar Contraseña
{% endblock %}

{% block content %}
<section id="cambiar-contraseña" class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header text-center bg-primary text-white">
                        <h2>Cambiar Contraseña</h2>
                    </div>
                    <div class="card-body">
                        <p class="text-center fw-bold fst-italic">No olvidemos los datos importantes</p>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-flex justify-content-around mt-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-key me-1"></i> Cambiar Contraseña
                                </button>
                                <a class="btn btn-secondary" href="{% url 'ver-perfil' %}">
                                    <i class="fas fa-arrow-left me-1"></i> Volver
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
